.btnApprove {
    background-color: green !important;
}

.btnDelete {
    background-color: brown !important;
}

.Approvestudents {
    display: flex;

}

.studentapprovle {
    flex: 6;

}

.studentapprovle {
    padding: 4px 26px;
}


.studetntapproved {
    flex: 4;
    padding: auto 9px !important;
}